---
import { integerSuffix } from "@utils/integerSuffix";
import { Icon } from "astro-icon/components";
import CreatorCard from "@components/cards/CreatorCard.astro";
import AdCard from "@components/cards/AdCard.astro";
import PageHead from "@components/common/PageHead.astro";
import LikeButton from "@components/buttons/LikeButton.astro";
import DownloadButton from "@components/buttons/DownloadButton.astro";
import Layout from "./Layout.astro";

interface Props {
  resource: Resource;
  user: User;
}

const { resource, user } = Astro.props;
---

<Layout title="Resource - Sparkmc">
  <PageHead title={resource.title} image={resource.icon}>
    <p class="text-sm text-neutral-500" slot="description">
      {resource.description}
    </p>
    <span class="flex items-center gap-2" slot="info">
      <Icon name="mingcute:download-2-line" class="text-green-500" />
      {integerSuffix(resource.downloads)}
      downloads
    </span>
    <span class="flex items-center gap-2" slot="info">
      <Icon name="mingcute:heart-line" class="text-red-500" />
      {integerSuffix(resource.likes?.length!)}
      likes
    </span>
    <LikeButton resourceUrl={resource.url} slot="buttons" />
    <DownloadButton resourceUrl={resource.url} slot="buttons" />
  </PageHead>
  <div class="flex items-start justify-between w-full gap-4 py-8">
    <div class="w-3/4 h-fit p-3 bg-neutral-100 rounded-lg">
      {resource.about}
    </div>
    <div class="flex flex-col w-1/4 gap-4">
      <AdCard />
      <CreatorCard {user} />
    </div>
  </div>
</Layout>
